@page
@model WebForm.Pages.Shared.QuanLyGia_ThemModel
@{
    ViewData["Title"] = "Website Quản Lý Tour";
    Layout = "_Layout";
}
@using BUS;
@{
    GiaBUS bus = new GiaBUS();
}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Thêm Giá</h4>
                        <form class="forms-sample" method="post"> 
                            <div class="form-group">
                                <label for="exampleInputName1">Mã Giá</label>
                                <input type="text" class="form-control" value="@bus.MakeID()" asp-for="gia.Id_Gia" 
                                       placeholder="Mã Giá" readonly>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName1">Mã Tour</label>
                                <select asp-for="gia.Id_Tour" class="form-control" asp-items="@(new SelectList(Model.listtour,"Id_Tour", "Ten_Tour"))">
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName1">Giá</label>
                                <input type="number" class="form-control" asp-for="gia.Gia" placeholder="Giá" required>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName1">Thời gian bắt đầu</label>
                                <input type="date" class="form-control" asp-for="dt1" placeholder="Thời gian bắt đầu" required>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName1">Thời gian kết thúc</label>
                                <input type="date" class="form-control" asp-for="dt2" placeholder="Thời gian kết thúc" required>
                            </div>
                            <input type="submit" value="Thêm" asp-page-handler="add" class="btn btn-primary mr-2" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>