@page
@model WebForm.Pages.Shared.QuanLyDiaDiem_SuaModel
@{
    ViewData["Title"] = "Website Quản Lý Tour";
    Layout = "_Layout";
}
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;  
@using DTO;
@{ 
    var str = HttpContext.Session.GetString("editdiadiem");
    var obj = JsonConvert.DeserializeObject<DiaDiemDTO>(str);
}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Sửa Địa Điểm</h4>
                        <form class="forms-sample" method="post">
                            <div class="form-group">
                                <label for="exampleInputName1">Mã Địa Điểm</label>
                                <input type="text" class="form-control" asp-for="diadiem.Id_DiaDiem" value="@obj.Id_DiaDiem" placeholder="Mã Địa Điểm" readonly>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName1">Tên Địa Điểm</label>
                                <input type="text" class="form-control" required asp-for="diadiem.Ten_DiaDiem" value="@obj.Ten_DiaDiem" placeholder="Tên Địa Điểm">
                            </div>
                            <input type="submit" value="Sửa" class="btn btn-primary mr-2" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>